.progress{
    width:300px;
    height:30px;
    background: #9cbab4;
    border-radius: 5px;
    overflow: hidden;
    position:absolute;
    bottom:10%;
    left:40%;
    visibility: hidden;
}

.progress__fill{
    width: 100%;
    height: 100%;
    background: #009579;
    transition:all .2s;
}

.progress__text{
    position:absolute;
    top:50%;
    right:5px;
    transform: translateY(-50%);
    font:bold 14px "Quicksand", sans-serif;
}

body{
    background: url("Images/lake.jpg") no-repeat fixed center;
    margin: 0;
}

.bg-image {
    /* The image used */
    background: url("Images/lake.jpg") no-repeat fixed center;
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100vh;
    width:100vw;

position:absolute;

z-index: -1;
}


.tiles{
margin: 48 px auto;
width: max-content;
display: grid;
grid-template-columns: repeat(4,100px);
gap: 16px;

}

.tile{
height: 100px;
background-color: #111111;
border: 5px solid #444444;
cursor: pointer;

}


.reward-container{
    display:flex;
    align-items: center;
    justify-content:center ;
    padding:20%;
}

.reward{
    height:50vh;
    width:50vw;
    background-color: bisque;
    z-index: 1;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reward-pic{
    height: 20vh;
    width: auto;
}

@keyframes wade{
    from{width:160px}
    to{width:200px}
}

.ripple{
    position: fixed;
    height: 160px;
    width: 160px;
    bottom: 20%;
    left: 50%;
    animation-name: wade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    visibility:visible;
}

@keyframes bobbing{
    from{bottom:25%}
    to{bottom:27%}
}

.bobber{
    position:fixed;
    height:30px;
    width:30px;
    bottom:25%;
    left:57%;
    z-index: 1;
    visibility: hidden;
    animation-name: bobbing;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes splashing{
    from{height:10px}
    to{height:200px}
}
.splash{
    height: 200px;
    width: 200px;
    visibility:hidden;
    bottom:20%;
    left:50%;
    position: absolute;
    animation-name: splashing;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: forward;

}
@keyframes fish-on-hook{
    from{transform: rotate(0deg);}
    to{transform:rotate(30deg)}
}

@keyframes nothing-on-hook{
    from{transform: rotate(0deg);}
    to{transform:rotate(5deg)}
}

.fishing-rod{
    display:flex;
    position: fixed;
    height:500px;
    width:auto;
    left:20%;
    bottom: 10%;
    animation-name: nothing-on-hook;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    visibility: hidden;
}
